There is a new user request pending please approve it from the admin console<br/>
Id: {{ .user.ID }}<br/>
User: {{ .user.DisplayName }} ({{ .user.Email }})<br/>
Role: {{ .user.Role }} <br/>
Organisation: {{ .user.Organisation.Name }} <br/>
Teams: <br/>
<ul>
{{ range .user.Teams }}
    <li>{{.Name}}</li>
{{ end }}
</ul>