<!-- Template used for the product cart/checkout page -->

{{ $apps := .apps}}
{{ $catalogueCount := .catalogue_count}}
{{ $templates := .templates}}

<div class="cart-wrapper">
  <div class="container">
    {{ if .errors }}
      {{ range $key, $errs := .errors }}
        <div class="alert alert-warning cart-error" role="alert">
          <i class="tyk-icon tykon tykon-warning "></i>
          <div class="alert__content">
            <strong>{{$key}}</strong>
            <ul>
              {{ range $errs }}
                <li>{{.}}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    {{ end }}
    {{ if .provisioned }}
      <div class="provisioned-credentials-wrapper text-center">
        <h2 class="my-4">Your request has been sent.</h2>
        <p>You can view the App status in 'My Apps'.</p>
        <p>
          <a class="btn btn-primary" href="/portal/private/dashboard">go to My Apps</a>
        </p>
      </div>
    {{ else }}
      {{if eq $catalogueCount 0}}
        <div class="empty-cart-wrapper text-center">
          <h2>Your cart is empty</h2>
          <p>
            Go the <a href="/portal/catalogue-products">catalogues</a> and browse API products.
          </p>
        </div>
      {{else}}
        <h2 class="text-center mb-4">Cart - Request Access</h2>
      {{end}}
      {{ if gt $catalogueCount 1 }}
        <div class="cart-wrapper__card-section">
          <div class="alert alert-info" role="alert">
            <i class="tyk-icon tykon tykon-warning "></i>
            <div class="alert__content">
              Your cart is containing API products from different catalogues, you will need to submit 2 or more requests separately.
            </div>
          </div>
        </div>
      {{ end }}
      {{ range $index, $request := .cart }}
        {{ if $request.Products }}
          <div class="cart-wrapper__card-section mb-0">
            <div class="d-flex flex-row align-items-baseline justify-content-between {{ if gt $catalogueCount 1 }}heading-toggle{{end}}" data-toggle="collapse" data-target="#request-{{$index}}" aria-expanded="false" aria-controls="request-{{$index}}">
              <h2>#{{$index}}  request - {{ .Catalogue.Name }}</h2>
              <p><i class="tyk-icon tykon "></i></p>
            </div>
          </div>
          <form method="POST" id="{{ if gt $catalogueCount 1 }}request-{{$index}}{{end}}" class="{{ if gt $catalogueCount 1 }}collapse multi-collapse{{end}}">
            <input type="hidden" name="catalogue-id" value="{{ .Catalogue.ID }}" />
            <div class="cart-wrapper__card-section">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">
                    <span class="card-number">1</span>
                    Selected Products
                  </h2>
                  <p class="card-text">You can add more than one API product to the cart, if you want to request access to more than one product, go to the <a href="/portal/catalogue-products">catalogue</a> and add another product to the cart.</p>
                </div>
                <div class="card-footer">
                  <ul class="list-group">
                    {{ range $request.Products }}
                      <li class="list-group-item">
                        <span class="product-name">{{.ProductName}}</span>
                        <a class="product-remove-cta" type="button" href="/portal/private/cart/remove/{{$index}}/{{.ID}}">
                          <i class="tyk-icon tykon tykon-delete"></i>
                        </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            </div>
            <div class="cart-wrapper__card-section">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">
                    <span class="card-number">2</span>
                    Select a Product plan
                  </h2>
                  <p class="card-text">Choose the subscription plan that fits your individual needs.</p>
                </div>
                <div class="card-footer">
                  {{ if $request.Products }}
                    <select class="form-control w-75" id="exampleFormControlSelect-{{$index}}" name="plan-for-{{$index}}" required>
                      <option value="" selected> Select a plan</option>
                      {{ range .Catalogue.Plans }}
                        <option value="{{.ID}}"> {{.PlanName}} &nbsp;&nbsp;|&nbsp;&nbsp; Quota: {{ .FormatQuota }},  Rate limit: {{ .FormatRateLimit }}</option>
                      {{ end }}
                    </select>
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="cart-wrapper__card-section">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">
                    <span class="card-number">3</span>
                    App Details
                  </h2>
                  <p class="card-text">An app serves as a container for one or multiple sets of credentials and in the future, different apps can have different ownerships. We recommend thinking about the use case when setting up a new app.</p>
                </div>
                <div class="card-footer">
                  <div class="form-group">
                    <div class="step-wrapper">
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input step active dcr-visibility" type="radio" name="app-action" value="existing" checked >
                          Existing app
                         </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input step dcr-visibility" type="radio" name="app-action" value="create">
                          Create a new app
                        </label>
                      </div>
                    </div>
                    <div class="content-wrapper">
                      <div class="content-wrapper__content d-block mt-3">
                        <select class="form-control w-50" id="appsControlSelect" name="selected-app">
                          {{ if $apps }}
                            <option value="" selected> Select an app</option>
                            {{ range $apps }}
                              <option value="{{.ID}}">{{.Name}}</option>
                            {{ end }}
                          {{ else }}
                            <option selected value="">No apps created</option>
                          {{ end }}
                        </select>
                      </div>
                      <div class="content-wrapper__content d-none mt-3">
                        <div class="mb-3">
                          <label class="form-label">App name</label>
                          <input type="text" name="client_name" class="form-control" placeholder="App Name"/>
                          <small id="clientHelp" class="form-text with-info-icon"> Make sure it is a descriptive name</small>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Description</label>
                          <textarea rows="3" name="description" class="form-control" placeholder="App Description"></textarea>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Redirect URLs(optional)</label>
                          <input name="redirect_urls" class="form-control" placeholder="Redirect URLs"/>
                          <small id="redirectHelp" class="form-text with-info-icon">Separate URLs with commas</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {{ if $request.DCREnabled }}
              <div class="cart-wrapper__card-section dcr-templates d-none">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">
                      <span class="card-number">4</span>
                      Select a client type
                    </h2>
                    <p class="card-text">To access this product(s) you need to select one of following client types with following pre-configured options.</p>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex flex-row flex-wrap justify-content-between">
                      {{ $templatesLength := len .AppTemplates }}
                      {{ range $index, $t := $request.AppTemplates }}
                        <div class="labeled-card d-flex flex-column mb-4 pb-2 pl-3">
                          <div class="labeled-card__title align-self-center mb-4">
                            <h3 class="mb-0">{{ $t.Name }}</h3>
                          </div>
                          {{if not (eq $t.Description "")}}
                          <div class="client-type-description">
                            <div class="opensans-semibold">Description:</div>
                            <div class="opensans-regular">{{ $t.Description }}</div>
                          </div>
                          {{end}}
                          <div class="d-flex flex-row">
                            <label class="form-check-label mr-3">
                              <input type="radio" name="app-action-template" value="{{ $t.ID }}" {{if eq $templatesLength 1}}checked{{end}}>
                            </label>
                            <div>
                              <p class="toggle-collapsible" data-toggle="collapse" href="#type-details-{{ $index }}" role="button" aria-expanded="false" aria-controls="type-details-{{ $index }}">
                                <span class="arrow-up d-inline"><img src="/assets/images/icons/arrow-up.svg"></span>
                                <span class="arrow-down d-none"><img src="/assets/images/icons/arrow-down.svg"></span>
                                <span class="opensans-semibold">View client type details</span>
                              </p>
                              <div class="collapse" id="type-details-{{ $index }}">
                                <div>
                                  <span class="opensans-semibold"> Grant types </span>
                                  <ul>
                                    {{ range $t.GrantTypes }}
                                      <li> {{ . }}
                                    {{ end }}
                                  </ul>
                                </div>
                                <div>
                                  <span class="opensans-semibold"> Response types</span>
                                  <ul>
                                    {{ range $t.ResponseTypes }}
                                      <li> {{ . }}
                                    {{ end }}
                                  </ul>
                                </div>
                                <div>
                                  <span class="opensans-semibold"> Token endpoints auth methods </span>
                                  <ul>
                                    {{ range $t.TokenEndpoints }}
                                      <li> {{ . }}
                                    {{ end }}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}

            <div class="text-center mt-4 mb-5">
              {{ if $request.Products }}
                <button type="submit" class="btn btn-primary">Submit request</button>
              {{ end}}
            </div>
          </form>
        {{ end }}
    {{ end }}
  {{ end }}
</div>