<!-- Template used for viewing a particular Product -->

{{ $thisProduct := .product }}
{{ $allCatalogues := .catalogues }}
{{ $cataloguesLength := len $allCatalogues}}
{{ $hasDocs := false }}
{{ range $thisProduct.APIDetails }}
  {{ $oasfile := gt (.OASDocument.Base.Url | trim | length) 0 }}
  {{ $oasurl := gt (.OASUrl | trim | length) 0 }}
  {{ if or $oasfile $oasurl }}
    {{ $hasDocs = true}}
  {{end}}
{{ end }}

<div class="api-product-page-wrapper">
	<div class="container">
		<p class="mb-3">
			<a href="/portal/catalogue-products" class="breadcrumb-link">
				< Back to catalogue overview </a>
    </p>
    {{ if .error }}
      <div class="alert alert-danger" role="alert">
      {{ range $category, $messages := .error }}
        {{$category}}
        <i class="tyk-icon tykon tykon-warning "></i>
        {{ range $i, $message := $messages }}
          <br/>
          <div class="alert__content">{{ $message }}</div>
        {{ end }}
      </div>
      {{end}}
    {{ end }}
    {{ if .added }}
    <div class="alert alert-success" role="alert">
      <i class="tyk-icon tykon tykon-check "></i>
      <div class="alert__content">Success! This API Product was added to cart. <a href="/portal/private/cart/provision">Go to cart</a> to complete the request.</div>
    </div>
    {{ end }}
    <div class="api-product-page__header w-100 mt-5">
      <div class="row">
      <div class="col-lg-12 card-container">
        <div class="card d-flex flex-row {{ if $thisProduct.Logo.URL }}has-logo{{end}}">
          {{ if $thisProduct.Logo.URL }}
            <img class="card-img-top img-fluid" src='{{$thisProduct.Logo.URL}}' alt="">
          {{ end }}
          <div class="card-body">
            <div class="card-title d-flex {{ if $thisProduct.Logo.URL }}flex-column{{else}}flex-row-reverse align-items-center{{end}} align-self-center">
              <div class="pill-container {{ if not $thisProduct.Logo.URL }}ml-2 align-self-start{{end}} mb-2">
                <div class="pill">{{ .product.AuthType }} </div>
              </div>
              <h2>{{.product.ProductName}}</h2>
            </div>
            <div class="api-product-page__header card__action-buttons d-flex align-self-center">
              {{if $hasDocs}}
                <div class="dropdown mr-2">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View Docs
                  </button>
                  <div class="view-docs-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{ range $thisProduct.APIDetails }}
                      {{ $oasfile := gt (.OASDocument.Base.Url | trim | length) 0 }}
                      {{ $oasurl := gt (.OASUrl | trim | length) 0 }}
                      {{ if or $oasfile $oasurl }}
                        <p class="docs-link">
                          <a href="/portal/catalogue-products/{{$thisProduct.Path}}/{{.APIID}}/docs" target="_blank">{{ .Name }}</a>
                        </p>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>
              {{end}}
              {{ $user := CurrentUser req }}
              {{ if $user }}
                {{if eq $cataloguesLength 1}}
                  {{range .catalogues}}
                    <form method="post" id="add-to-cart-form-b">
                      <input type="hidden" name="product_id" value={{$thisProduct.ID}}>
                      <input type="hidden" name="catalogue_id" value="{{ .ID }}">
                      <button type="submit" class="btn btn-primary" id="add-to-cart-btn" data-single-catalogue="true">Add to Cart</button>
                    </form>
                  {{end}}
                {{else}}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFromCatalogue">Access this product</button>
                  <form method="post" id="add-to-cart-form-b">
                    <div class="modal fade" id="addFromCatalogue" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content p-2">
                          <div class="modal-header justify-content-center">
                            <h2 class="modal-title">Select a Catalogue</h2>
                          </div>
                          <div class="modal-body text-center">
                            <p>This product is available in multiple catalogues.</p>
                            <p>Please select a catalogue based on which plan you want to subscribe to.</p>
                          </div>
                          <div class="modal-footer">
                            <div class="table-wrapper">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Catalogue</th>
                                    <th>Plans available</th>
                                    <th class="actions-cell"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                {{ range .catalogues }}
                                  <tr>
                                      <td> {{ .Name }}</td>
                                      <td>
                                        {{range .Plans }}
                                          <p class="table-plans-limits">
                                            <strong>{{.PlanName}}:</strong> Quota: {{ .FormatQuota }} | Rate limit: {{ .FormatRateLimit }}
                                          </p>
                                        {{end}}
                                      </td>
                                      <td class="text-center">
                                        <input type="radio" data-product-id="{{$thisProduct.ID}}" class="catalogue-input-radio" name="catalogue_id" value="{{ .ID }}" />
                                      </td>
                                  </tr>
                                {{ end }}
                                <input type="hidden" name="product_id" value="{{$thisProduct.ID}}" class="product-input-radio" />
                                </tbody>
                              </table>
                            </div>
                            <div class="pt-2">
                              <button type="button" class="btn btn-secondary-outline" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-primary" id="add-to-cart-btn">Add to cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                {{ end }}
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="api-product-page__details">
      {{if .product.Description }}
        <div class="api-product-page__info">
          <div class="api-product-page__info-title">
            <h2>Description</h2>
          </div>
          <div class="api-product-page__info-description">
            <p>{{ .product.Description }}</p>
          </div>
        </div>
      {{end}}
      {{if len .product.Scopes }}
        <div class="api-product-page__info">
          <div class="api-product-page__info-title">
            <h2>Scopes</h2>
          </div>
          <div class="api-product-page__info-description">
            <ul class="pl-3">
            {{ range .scopes }}
              <li> {{ . }} </li>
            {{end}}
            </ul>
          </div>
        </div>
      {{end}}
      {{if $thisProduct.Provider.Configuration.GatewayURL }}
        <div class="api-product-page__info">
          <div class="api-product-page__info-title">
            <h2>Base URL</h2>
          </div>
          <div class="api-product-page__info-description">
            <p class="api-product-page__info-description__base-url copy">
              {{ $thisProduct.Provider.Configuration.GatewayURL }}
              <i class="tyk-icon tykon tykon-copy ml-3" data-copy-value="{{ $thisProduct.Provider.Configuration.GatewayURL }}"></i>
            </p>
          </div>
        </div>
      {{end}}
      {{ $apisLength := len .product.APIDetails}}
      {{ if gt $apisLength 0}}
        <div class="api-product-page__info">
          <div class="api-product-page__info-title">
            <h2>APIs available in this product</h2>
          </div>
          <div class="api-product-page__info-description flex-column">
            <div class="row m-0">
              {{ range .product.APIDetails }}
              <div class="col-xl-3 labeled-card d-flex flex-column align-items-center mr-4 mb-3">
                  <div class="labeled-card__title mb-4">
                    <h3 class="mb-0">{{ .Name }}</h3>
                  </div>
                  <div class="mt-3">
                    <p> Listen path: <strong>{{ .ListenPath }}</strong></p>
                  </div>
                    {{ $oasfile := gt (.OASDocument.Base.Url | trim | length) 0 }}
                    {{ $oasurl := gt (.OASUrl | trim | length) 0 }}
                    {{ if or $oasfile $oasurl }}
                      <div class="labeled-card__docs-link mt-3">
                        <a href="/portal/catalogue-products/{{$thisProduct.Path}}/{{.APIID}}/docs" target="_blank">API Docs</a>
                        <i class="tyk-icon tykon tykon-link" aria-hidden="true"></i>
                      </div>
                    {{ end }}
                    {{ if not (or $oasfile $oasurl) }}
                      <div class="mt-3">
                        No docs for this API
                      </div>
                    {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      {{end}}
        <div class="api-product-page__info">
          <div class="api-product-page__info-title">
            <h2>Plans</h2>
          </div>
          <div class="api-product-page__info-description">
            <div class="table-wrapper">
              <table class="table">
                <thead>
                  <tr>
                    <th>Catalogue</th>
                    <th>Plans available</th>
                  </tr>
                </thead>
                <tbody>
                {{ range .catalogues }}
                  <tr>
                      <td> {{ .Name }}</td>
                      <td>
                      {{ $plansLength := len .Plans }}
                      {{ if eq $plansLength 0 }}
                        <i>no plans available</i>
                      {{ else }}
                        {{range .Plans }}
                          <p class="table-plans-limits">
                            <strong>{{.PlanName}}:</strong> Quota: {{ .FormatQuota }} | Rate limit: {{ .FormatRateLimit }}
                          </p>
                        {{end}}
                      {{ end }}
                      </td>
                  </tr>
                {{ end }}
                <input type="hidden" name="product_id" value="" class="product-input-radio" />
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {{if .product.Content }}
        <div class="api-product-page__info">
          <div class="api-product-page__info-description">
            <p>{{ safe .product.Content }}</p>
          </div>
        </div>
      {{end}}
    </div>
	</div>
  <div class="d-none" id="success-msg">Value has been copied successfully</div>
</div>