.form-label {
	font-family: "OpenSans-SemiBold";
}

.form-group {
  color: var(--tdp-text-color);
  position: relative;
}

.cta-btns-wrapper i {
  pointer-events: none;
}

[aria-expanded="true"].heading-toggle .tyk-icon:before {
  content: "\64";
}

[aria-expanded="false"].heading-toggle .tyk-icon:before {
  content: "\61";
}